.background{
    display: flex;
    flex-wrap: wrap;
    background-color: BLACK
}

.background > div{
    background-color: #fcba03;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
}

.buttons {
    background-color: #e0e0e0
    padding = 20px;
    color: black;
    text-align: center;
    font-size: 16px;
    border-radius: 0%;
}
.top{
    display: flex;
    flex-direction: row;
}